<div>
  <h1>Links</h1>

  <%# Temporarily hide this to remove clutter %>
  <%# <h3>Recent</h3> %>
  <%# <ul> %>
  <%#   <% @recent_links.each do |link| %1> %>
  <%#     <li> %>
  <%#       <%= link_to link.title, link, class: 'text-dark' %1> %>
  <%#       <%= link_to link.url, class: 'text-muted', target: '_href' do %1> %>
  <%#         <i class="bi bi-box-arrow-up-right"></i> %>
  <%#       <% end %1> %>
  <%#     </li> %>
  <%#   <% end %1> %>
  <%# </ul> %>

  <%= render partial: 'tags', locals: { tags: @tags } %>

  <ul>
    <% @links.each do |link| %>
      <li>
        <%= link_to link.title, link, class: 'text-dark' %>
        <%= link_to link.url, class: 'text-muted', target: '_href' do %>
          <i class="bi bi-box-arrow-up-right"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_link_path, class: 'btn btn-primary' do %>
    <i class="bi bi-plus-lg"></i>
    New Link
  <% end %>
</div>
