<h3>
  <%= link_to @link.title, @link.url, target: '_blank' %>
</h3>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Tags:</b>
  <%= @link.tags.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
