<!DOCTYPE html>
<html>
  <head>
    <title>Corner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/notices' %>

    <div class="container p-5">
      <div class="float-end">
        <% if user_signed_in? %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-link text-dark' %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
